%h1= t("activerecord.models.spree/product") + t("views.index")

= paginate @spree_products

%table.table.table-default
  %thead
    %tr
      %th=t "activerecord.attributes.spree/product.name"
      %th=t "activerecord.attributes.spree/product.prices"
      %th=t "activerecord.attributes.supplier.ngsj"
      %th=t "activerecord.attributes.supplier.iiparts"
      %th=t "activerecord.attributes.supplier.amazon"
      %th=t "activerecord.attributes.supplier.rakuten"
      %th=t "activerecord.attributes.supplier.yahoo"
      %th
      -# %th
      -# %th

  %tbody
    - @spree_products.each do |spree_product|
      %tr
        %td= spree_product.name
        %td.center= number_to_currency spree_product.price.try(:selling_price)
        %td.center
          - if spree_product.price.try(:ngsj)
            = link_to number_to_currency(spree_product.price.ngsj), spree_product.supplier.ngsj,class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:iiparts)
            = link_to number_to_currency(spree_product.price.iiparts), spree_product.supplier.iiparts,class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:amazon)
            = link_to number_to_currency(spree_product.price.amazon), spree_product.supplier.amazon,class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:rakuten)
            = link_to number_to_currency(spree_product.price.rakuten), spree_product.supplier.rakuten,class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:yahoo)
            = link_to number_to_currency(spree_product.price.yahoo), spree_product.supplier.yahoo,class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.supplier
            = link_to t("links.edit"), edit_supplier_path(spree_product.supplier), class: "btn btn-default"
          - else
            = link_to t("links.edit"), "#{new_supplier_path}/#{spree_product.id}", class: "btn btn-default"
          -# = link_to t("links.show"), spree_product, class: "btn btn-default"
        -# %td= link_to 'Edit', edit_spree_product_path(spree_product)
        -# %td= link_to 'Destroy', spree_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @spree_products
