%h1= t("activerecord.models.spree/product") + t("views.index")

.right= link_to t("links.price.update_all"), spree_products_update_price_all_path, :method => :get, :data => { :confirm => t("messages.are_you_sure") }, class: "btn btn-default"

= form_for Spree::Product.new, url: spree_products_path, remote: false, html: {method: :get, class: "form-inline search-form"} do |f|
  = f.label t("views.spree/product.category"), class: "title float-left"
  = select_tag :category, options_for_select(@categories, params[:category]), include_blank: true, class: "form-control float-left clear"
  = f.label t("views.spree/product.keyword"), class: "title float-left"
  = text_field "", :keyword, value: params[:keyword], class: "form-control float-left"
  = f.submit t("links.search"), class: "btn btn-default"

= paginate @spree_products

%table.table.table-default
  %thead
    %tr
      %th=t "activerecord.attributes.spree/product.name"
      %th=t "activerecord.attributes.spree/product.prices"
      %th=t "activerecord.attributes.supplier.ngsj"
      %th=t "activerecord.attributes.supplier.bikepartscenter"
      %th=t "activerecord.attributes.supplier.iiparts"
      %th=t "activerecord.attributes.supplier.nbstire"
      %th=t "activerecord.attributes.supplier.amazon"
      %th=t "activerecord.attributes.supplier.rakuten"
      %th=t "activerecord.attributes.supplier.yahoo"
      %th
      -# %th
      -# %th

  %tbody
    - @spree_products.each do |spree_product|
      %tr
        %td= spree_product.name
        %td.center= number_to_currency spree_product.price.try(:selling_price)
        %td.center
          - if spree_product.price.try(:ngsj)
            - if @price_hash[spree_product.id] == spree_product.price.try(:ngsj)
              = link_to number_to_currency(spree_product.price.try(:ngsj)), spree_product.supplier.try(:ngsj), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:ngsj)), spree_product.supplier.try(:ngsj), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:bikepartscenter)
            - if @price_hash[spree_product.id] == spree_product.price.try(:bikepartscenter)
              = link_to number_to_currency(spree_product.price.try(:bikepartscenter)), spree_product.supplier.try(:bikepartscenter), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:bikepartscenter)), spree_product.supplier.try(:bikepartscenter), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:iiparts)
            - if @price_hash[spree_product.id] == spree_product.price.try(:iiparts)
              = link_to number_to_currency(spree_product.price.try(:iiparts)), spree_product.supplier.try(:iiparts), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:iiparts)), spree_product.supplier.try(:iiparts), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:nbstire)
            - if @price_hash[spree_product.id] == spree_product.price.try(:nbstire)
              = link_to number_to_currency(spree_product.price.try(:nbstire)), spree_product.supplier.try(:nbstire), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:nbstire)), spree_product.supplier.try(:nbstire), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:amazon)
            - if @price_hash[spree_product.id] == spree_product.price.try(:amazon)
              = link_to number_to_currency(spree_product.price.try(:amazon)), spree_product.supplier.try(:amazon), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:amazon)), spree_product.supplier.try(:amazon), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:rakuten)
            - if @price_hash[spree_product.id] == spree_product.price.try(:rakuten)
              = link_to number_to_currency(spree_product.price.try(:rakuten)), spree_product.supplier.try(:rakuten) , class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:rakuten)), spree_product.supplier.try(:rakuten) , class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.price.try(:yahoo)
            - if @price_hash[spree_product.id] == spree_product.price.try(:yahoo)
              = link_to number_to_currency(spree_product.price.try(:yahoo)), spree_product.supplier.try(:yahoo), class: "btn btn-success", target: :blank
            - else
              = link_to number_to_currency(spree_product.price.try(:yahoo)), spree_product.supplier.try(:yahoo), class: "btn btn-default", target: :blank
        %td.center
          - if spree_product.supplier
            = link_to t("links.edit"), edit_supplier_path(spree_product.supplier), class: "btn btn-default"
          - else
            = link_to t("links.edit"), "#{new_supplier_path}/#{spree_product.id}", class: "btn btn-default"
          -# = link_to t("links.show"), spree_product, class: "btn btn-default"
          = link_to t("links.price.update"), "#{spree_product_path(spree_product)}/update_price", :method => :get, :data => { :confirm => t("messages.are_you_sure") }, class: "btn btn-default"
        -# %td= link_to 'Edit', edit_spree_product_path(spree_product)
        - if spree_product.available_on
          %td= link_to t("links.product.unlist"), spree_product_path(spree_product, { :spree_product => { :available_on => nil } }), :method => :put, :data => { :confirm => t("messages.are_you_sure") }, :class => "btn btn-danger"
        - else
          %td= link_to t("links.product.list"), spree_product_path(spree_product, { :spree_product => { :available_on => DateTime.now } }), :method => :put, :data => { :confirm => t("messages.are_you_sure") }, :class => "btn btn-info"

= paginate @spree_products
