%h1= t("activerecord.models.spree/product") + t("views.show")

%p#notice= notice

%table.table.table-default
  %thead
    %tr
      %th=t "activerecord.attributes.spree/product.name"
      %th=t "activerecord.attributes.spree/product.prices"
      %th=t "activerecord.attributes.supplier.ngsj"
      %th=t "activerecord.attributes.supplier.iiparts"
      %th=t "activerecord.attributes.supplier.amazon"
      %th=t "activerecord.attributes.supplier.rakuten"
      %th=t "activerecord.attributes.supplier.yahoo"
  %tbody
    %tr
      %td.left= @spree_product.name
      %td.center= number_to_currency @spree_product.price.try(:selling_price)
      %td.center
        - if @spree_product.price.try(:ngsj)
          - if @price.lowest_price == @spree_product.price.ngsj
            = link_to number_to_currency(@spree_product.price.ngsj), @spree_product.supplier.ngsj, class: "btn btn-success", target: :blank
          - else
            = link_to number_to_currency(@spree_product.price.ngsj), @spree_product.supplier.ngsj, class: "btn btn-default", target: :blank
      %td.center
        - if @spree_product.price.try(:iiparts)
          - if @price.lowest_price == @spree_product.price.iiparts
            = link_to number_to_currency(@spree_product.price.iiparts), @spree_product.supplier.iiparts, class: "btn btn-success", target: :blank
          - else
            = link_to number_to_currency(@spree_product.price.iiparts), @spree_product.supplier.iiparts, class: "btn btn-default", target: :blank
      %td.center
        - if @spree_product.price.try(:amazon)
          - if @price.lowest_price == @spree_product.price.amazon
            = link_to number_to_currency(@spree_product.price.amazon), @spree_product.supplier.amazon, class: "btn btn-success", target: :blank
          - else
            = link_to number_to_currency(@spree_product.price.amazon), @spree_product.supplier.amazon, class: "btn btn-default", target: :blank
      %td.center
        - if @spree_product.price.try(:rakuten)
          - if @price.lowest_price == @spree_product.price.rakuten
            = link_to number_to_currency(@spree_product.price.rakuten), Supplier.get_rakuten_link(@spree_product.supplier.rakuten), class: "btn btn-success", target: :blank
          - else
            = link_to number_to_currency(@spree_product.price.rakuten), Supplier.get_rakuten_link(@spree_product.supplier.rakuten), class: "btn btn-default", target: :blank
      %td.center
        - if @spree_product.price.try(:yahoo)
          - if @price.lowest_price == @spree_product.price.yahoo
            = link_to number_to_currency(@spree_product.price.yahoo), Supplier.get_yahoo_link(@spree_product.supplier.yahoo), class: "btn btn-success", target: :blank
          - else
            = link_to number_to_currency(@spree_product.price.yahoo), Supplier.get_yahoo_link(@spree_product.supplier.yahoo), class: "btn btn-default", target: :blank

- if @spree_product.supplier
  = link_to t("links.edit"), edit_supplier_path(@spree_product.supplier), class: "btn btn-default"
- else
  = link_to t("links.edit"), "#{new_supplier_path}/#{@spree_product.id}", class: "btn btn-default"

= link_to t("links.price.update"), "#{spree_product_path(@spree_product)}/update_price", :method => :get, :data => { :confirm => t("messages.are_you_sure") }, class: "btn btn-default"
= link_to t("links.back"), spree_products_path, class: "btn btn-default"
